<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fuelSDK" type="FuelSDK.FuelSDKConfigurationSection, FuelSDK" />
  </configSections>
  <fuelSDK appSignature="none" clientId="abc" clientSecret="cde" soapEndPoint="https://soapendpoint.com" soapBindingCloseTimeout="00:01:00" soapBindingOpenTimeout="00:01:00" soapBindingReceiveTimeout="00:01:00" soapBindingSendTimeout="00:01:00" authEndPoint="https://authendpoint.com" restEndPoint="https://restendpoint.com"  />
</configuration>