<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fuelSDK" type="FuelSDK.FuelSDKConfigurationSection, FuelSDK" />
  </configSections>
  <fuelSDK appSignature="none" clientId="abc" clientSecret="cde" soapEndPoint="https://soapendpoint.com" authEndPoint="https://authendpoint.com/v1/requestToken?param1=1amp;legacy1" restEndPoint="https://restendpoint.com"  />
</configuration>